*{
    margin: 0;
    padding: 0;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    box-sizing: border-box;
    list-style: none;
    font-weight: 400;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  .container-build{
      width: 100%;
  }
  .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  .header-main-left{
      width: 40.333%;
  }
  .header-main-mid{
      width: 16.667%;
  }
  .header-main-right{
      width: 43%;
  }
  .header-main-right ul{
      display: flex;
      width: 100%;
      justify-content: space-around;
  }
  .cacmuc>li>a{
      border-bottom: 3px solid transparent;
  }
  .cacmuc>li:hover>a{
      border-bottom: 3px solid black;
  }
  .timkiem{
      position: relative;
  }
  .search-box{
      position: absolute;
      display: none;
  }
  .inputSearch{
      width: 330px;
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      color: #000;
      font-weight: bold;
      font-size: 18px;
      font-weight: 300px;
      border-bottom: 2px solid #000;
      display: block;
  }
  .timkiem:hover .search-box{
      display: block;
      bottom: -30px;
      right: -100px;
      z-index: 3;
  } 
  /* ---------------------- */
  .header-index{
      width: 100%;
      position: sticky;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: #ffffff;
  }
  .header-index{
      font-size: 18px;
      
  }
  .header-list-lv1{
      width: 89%;
      display: flex;
      justify-content: space-between;
      margin: auto;
      padding: 30px 0px;
  }
  
  a{
      text-decoration: none;
  }
  
  .header-list-lv1 a {
      color: black;
      text-decoration: none;
      font-weight: 700;
  }
  
  .header-list-lv1 .header-list-lv2{
      position: absolute;
      display: none;  
      padding-top: 10px;
      padding-left: 50px;
      line-height: 2;
  }
  
  .header-list-lv1 .header-list-lv2>li{
      width: 200px;
      font-size: 14px;
      background-color: #ffffff;
  }
  .header-list-lv1 li:hover .header-list-lv2 {
      display: block;
  }
  .header-list-lv1 ul.header-list-lv2 li:hover>a{
      padding: 10px;
      color: white;
  }
  .header-list-lv2 li:hover{
      background-color: #000;
      border-radius: 3px solid black;
  }
  .header-list-lv1 ul.header-list-lv2 li{
      padding: 5px;
      border: 3px solid black;
      border-radius: 6px;
  }
  .chay-chu {
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* Đảm bảo chiều rộng của phần tử cha để chữ có thể chạy qua toàn bộ màn hình */
    color: #ffffff  ;
    background-color: black;
  }
  marquee{
    padding: 5px 0px;
  }
  .chay-chu marquee>span{
    padding-left: 25px;
  }
.boxcenter{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

table {
    width: 100%; /* Make the table fill the available width */
}

.dsdk{
    margin-bottom: 40px;
    padding: 8px;
    width: 100%;
    height: 55px;
    color: #5c5c5c;
    font-weight: 500;
    border: 1px solid transparent;
    background: #ededed;
}
#login{
    position: relative;
}
#login button{
    
}
button{
    background-color: #1C1F25;
    color: #fff;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.header-page h1 {
    color: #333;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: initial;
    text-transform: uppercase;
    margin-top: 30px;
}



/* ------- */
.bad{
    width: 100%;
}
.footer-top{
    padding: 20px 0px;
}
h1{
    text-align: center;
    font-size: 22px;
}
hr{
    width: 100%;
    border: 1px solid black;
}

.row1{
    display: flex;
   justify-content: center ;
   margin-top: 100px;
  }
  .footer-block{
    font-size: 16px;
    font-weight: bold;
  }
  h4{
    display: flex;
    font-size: 16px;
    align-items: center;
  }
  .social-list{
    display: flex;
  }
  .item-fade-box{
    width: 40px;
    height: 40px;
  }
  li{
    list-style-type: none;
  }
  .footer-content{
    margin-bottom: 30px;
  }
  .footer-title{
    display: block;
    margin-bottom: 30px;
  }
  .footer-title2{
    margin-bottom: 30px;
  }
  .contentdk{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .input-group{
    height: 30px;
    border: 1px solid black;
    width: 350px;
  }
  .button-dark{
    width: 60%;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
  }
  .email{
    width: 150px;
    height: 30px;
    border: 2px solid black;
  }
  .hotline b a{
    text-decoration: none;
    color: black;
  }
  .chinhanh{
    margin-left: 100px;
  }
  .footer-titile3{
    margin-bottom: 30px;
  }
  .dschinhanh{
    font-size: 16px;
    font-weight: bold;
  }
  .dschinhanh ul li{
    padding: 10px;
  }
  .coppyright {
    padding: 15px;
  }
  .coppyright a{
    text-decoration: none;
    color: black;
  }
  .hotro{
    margin-left: 100px;
  }
  .dshotro ul li{
    padding: 15px;
  }
  .ht{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
